/*
    COLOR PALETTE
        Dark Grey: #2F2F2F
        Light Tan: #EBDEC8
        Coffee Brown: #A5917A

    FONTS
        Main: "Instrument Sans" in varying weights
        Logo: "Zen Antique"

*/

/* || Sitewide */
/* ... Styles for body & global styles */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Instrument Sans', sans-serif;
    color: #2F2F2F;
    background-color: #EBDEC8;
    margin: 0;
    padding: 0;
}

/* || Typography */
/* ... Styles for headings, links, paragraphs  */

/* fallback, used if browser doesn't support webkit*/

h1 {
    color: #EBDEC8;
    font-size: 128px;
    font-style: italic;
    margin: 0;

}

@supports (-webkit-text-stroke: 2px #2F2F2F) {
    h1 {
        font-family: sans-serif;

        -webkit-text-fill-color: #EBDEC8;
        -webkit-text-stroke-width: 6px;
        -webkit-text-stroke-color: #2F2F2F; 

        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    
        font-size: 128px;
        font-style: italic;
    }
}

h2 {
    font-size: 64px;
    font-weight: 600;
}

.page-title {
    text-align: center;
    line-height: .9; /* tightens vertical fit between "Castlemate" and "Web Design" */
}

.page-title h2 {
    margin-top: 0;
}

.highlight p {
    font-size: 40px;
    font-weight: 600;

    text-align: center;

    
    margin: 1em auto;
}

.card.about {
    background: #2F2F2F;
    color:#EBDEC8;
}

.about-description p {
    font-size: 32px;
    font-weight: 400;
}

blockquote {
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

#quote-author {
    font-size: 36px;
    text-align: right;
}

.card.services h2 {
    color: #EBDEC8;
    text-align: center;
}

.card.services p {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.card.action p {
    font-size: 32px;
    font-weight: 400;
    text-align: left;
}

/* || Layouts */
/* ... Containers, sections, etc */

.feed {
    display: flex;
    flex-direction: column;

    width: 100%; /* moved from .card to .feed */
    /* gap: 4em; */
}

.card {
    margin: 0 auto;
    /* padding: 3rem 1.5rem; */
}

/* Hero */

.card.hero {
    display: flex;
    flex-direction: column;

    position: relative; /* allows us to overlay our chess piece image over two divs */

    width: 100%;
    min-height: 100vh;

    margin-top: 4rem;
}

.page-title {
    margin-bottom: 6em;
}

.highlight {
    flex-grow: 1;
    width: 100%;
    
    color: #EBDEC8;
    background-color: #2F2F2F; 

    display: flex;
    justify-content: space-between;
    gap: 40px;
}


/* got stuck on this one, used mr gpt to give me initial code for absolute pos, then tweaked it & added my own comments - m*/
.card.hero .chess-piece {
    position: absolute; /* removes chesspiece from document flow (flexbox in this case) */
    width: 300px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg); /* center chess piece, then rotate*/
    z-index: 10; /* keeps chess piece on very top */ 
}

/* Hello! We're Castlemate. */

.card.about {
    width: 100%;
    padding: 4rem 0;
}

.card.about .wrapper {
    max-width: 60%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.card.about img {
    width: 50%;
    border-radius: 33px;
}

.about-description {
    width: 50%;

    display: flex;
    flex-direction: column;
}
.about-description h2 {
    width: max-content;
    margin: 0em;
}

.about-description .btn {
    align-self: flex-end;
}

/* Quote */

.quote {
    padding: 1rem 3rem;
}

blockquote p{
    margin: 0;
}

/* What We Offer */

.card.services {
    width: 100%;
    color: #EBDEC8;
    background-color: #2F2F2F;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-description {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.service-buttons {
    width: 70%;
    padding: 16px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

.service-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    /* copied from button styling */
    padding: 0.5em 1.2em;
    border-radius: 33px;

    background-color: #A5917A;
    color: #EBDEC8;

    font-size: 32px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    /* -webkit-box-shadow: 9px 9px 0px 5px rgba(0,0,0,0.35); 
    box-shadow: 9px 9px 0px 5px rgba(0,0,0,0.35); */
}
/* .services {
  background: #f5f5f5;
} */

/* Action Card */
.card.action {
    color: #EBDEC8;
    background-color: #2F2F2F;
    padding: 2em;

    width: 100%;
}

.card.action .wrapper {
    max-width: 60%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.card.action p {
    flex: 1;
    text-align: left;
}

.card.action a {
    white-space: nowrap;
    flex-shrink: 0;
}

.card.action .wrapper .btn {
    background-color: white;
}

/* || Header, Footer and Nav */
/* ... Logo, header, nav menus */

header {
    /* color: #2F2F2F; */
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1em;

    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

header ul a {
    color: #2F2F2F;
    /* text-decoration: none; */
}

.logo img {
    width: auto;
    height: 100px;
}

/* 
.logo {
    display: flex;
    align-items: center;
}

.logo .chess-piece {
    width: auto;
    height: 4rem;
    flex-shrink: 0;
}

.logo-text {
    font-family: "Zen Antique";
    font-weight: 400;
    font-size: 48px;
    text-align: center;

    ensures a tight fit between "CL" and "MT"
    line-height: .9;
    letter-spacing: -0.06em;

    creates a square bounding box depending on font size
    width: 2.1em;
    height: 2.1em;
}

.logo span {
    display: block;
}*/

footer {
    background-color: #EBDEC8;
    color: #2F2F2F;

    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* Footer Typography (idk how to section this maleah!!!) */
.company-name {
    font-weight: 600;
    font-size: 32px;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #2F2F2F;
    border-radius: 50%;
}

.company-focus {
    font-size: 24px;
}

.footer-right a {
    color: #2F2F2F;
    text-decoration: none;
    font-weight: 500;
}

/* || Components */
/* ... Buttons, carousels, etc */

/* About Us Button */
.btn {
    display: inline-block;
    padding: 0.5em 1.2em;
    border-radius: 66px;

    background-color: #A5917A;
    color: #2F2F2F;

    font-size: 32px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    -webkit-box-shadow: 9px 9px 0px 5px rgba(0,0,0,0.35); 
    box-shadow: 9px 9px 0px 5px rgba(0,0,0,0.35);

}

.btn:hover {
  background-color: #8d7c69;
}

.btn:active {
  transform: translateY(1px);

  -webkit-box-shadow: 7px 7px 0px 5px rgba(0,0,0,0.35); 
  box-shadow: 7px 7px 0px 5px rgba(0,0,0,0.35);
}


/* || Utilities */
/* ... Helper classes, hidden styles, etc */
a { 
    text-decoration: none;
}


/* Scrollbar */
