html {
    scroll-behavior: smooth;
}

body {
    /* font-family: sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

header ul a {
    text-decoration: none;
    color: white;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.card {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
}

.about {
  background: #f5f5f5;
}

.quote {
  font-style: italic;
}

.services {
  background: #f5f5f5;
}