/*
    COLOR PALETTE
        Dark Grey: #2F2F2F
        Light Tan: #EBDEC8
        Coffee Brown: #A5917A

    FONTS
        Main: "Instrument Sans" in varying weights
        Logo: "Zen Antique"

*/

/* || Sitewide */
/* ... Styles for body & global styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Instrument Sans', sans-serif;
    color: #2F2F2F;
    background-color: #EBDEC8;
    margin: 0;
    padding: 0;
}

/* || Typography */
/* ... Styles for headings, links, paragraphs  */

/* fallback, used if browser doesn't support webkit*/

h1 {
    color: #EBDEC8;
    font-size: 128px;
    font-style: italic;
    margin: 0;

}

@supports (-webkit-text-stroke: 2px #2F2F2F) {
    h1 {
        font-family: sans-serif;

        -webkit-text-fill-color: #EBDEC8;
        -webkit-text-stroke-width: 6px;
        -webkit-text-stroke-color: #2F2F2F; 

        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    
        font-size: 128px;
        font-style: italic;
    }
}

h2 {
    font-size: 64px;
    font-weight: 600;
}

.page-title {
    text-align: center;
    line-height: .9; /* tightens vertical fit between "Castlemate" and "Web Design" */
}

.page-title h2 {
    margin-top: 0;
}

.highlight p {
    font-size: 40px;
    font-weight: 600;

    text-align: center;
    width: 600px
}


/* || Layouts */
/* ... Containers, sections, etc */

.feed {
    display: flex;
    flex-direction: column;

    width: 100%; /* moved from .card to .feed */
    /* gap: 4em; */
}

.card {
    margin: 0 auto;
    /* padding: 3rem 1.5rem; */
}

.card.hero {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;
}

.highlight {
    flex-grow: 1;
    width: 100%;

    color: #EBDEC8;
    background-color: #2F2F2F; 

    display: flex;
    justify-content: center;
}

.about {
  background: #f5f5f5;
}

.quote {
  font-style: italic;
}

.services {
  background: #f5f5f5;
}

/* || Header, Footer and Nav */
/* ... Logo, header, nav menus */

header {
    /* color: #2F2F2F; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1em;

    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

header ul a {
    color: #2F2F2F;
    text-decoration: none;
}

.logo {
    font-family: "Zen Antique";
    font-weight: 400;
    font-size: 48px;
    text-align: center;

    /* ensures a tight fit between "CL" and "MT" */
    line-height: .9;
    letter-spacing: -0.06em;

    /* creates a square bounding box depending on font size */
    width: 2.1em;
    height: 2.1em;
}

.logo span {
    display: block;
}
/* || Components */
/* ... Buttons, carousels, etc */


/* || Utilities */
/* ... Helper classes, hidden styles, etc */
